html{
    --color-verde: #849c3c; /* custom propierty */
    --color-negro: #353535;
    --color-rojo: #D33040;
    --color-gris: lightgray;
    --fondo-negro: #2C2C2C;
    --color-linea: #949494;
    --color-azul: lightblue;
    --color-blanco: white;
}
body{
    font-size: 16px;
    margin: 0px auto;
    max-width: 1024px;
}
header ul li{
    display: inline-block;
    margin-left: -29.2px;
    padding: 8px 15px;
    text-align: center;
}
header ul li:nth-child(2){
    background: var(--color-verde);
    margin-left: 11px;
    width: 192px;
}
header ul li:nth-child(3){
    background: var(--color-negro);
    width: 203px;
}
header ul li:nth-child(4){
    background: var(--color-rojo);
    width: 196px;
}
header ul li:nth-child(5){
    background: var(--color-gris);
    width: 177px;
}
hr{
    border-style: dashed;
    color: var(--color-linea);
}
section article{
    display: inline-block;
    height: 280px;
    padding: 18px 8px;
    vertical-align: top;
    width: 17.9%;
}
section article ul{
    list-style: none;
}
section article:nth-child(2){
    background: var(--color-verde);
}
section article:nth-child(3){
    background: var(--color-negro);
}
section article:nth-child(4){
    background: var(--color-rojo);
}
section article:nth-child(5){
    background: var(--color-gris);
}
section, footer{
    background: var(--fondo-negro);
}
section img{
    width: 150px;
}
footer article{
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    margin-top: 20px;
    width: 31.1%;
}
footer img{
    width: 300px;
}
.letra-azul{
    color: var(--color-azul);
}
.letra-blanca{
    color: var(--color-blanco);
}
.letra-gris{
    color: var(--color-linea);
}
.read-more{
    /* border: 1px solid red; */
    margin-left: 220px;
}
.tam-menu-lateral{
    font-size: 1.1em;
}
.tam-tarjetas{
    font-size: 1.7em;
}